.container {
  text-align: center;
}

.custom-nf {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.nf-img {
  margin-bottom: 2%;
}
